@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    width: 100vw;
    height: 100px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 32px;
    background-color: #323232;
    box-shadow: 0 0 16px #323232;
    color: white;
}
main{
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.text-field, input{
    max-width: 1000px;
    width: 50vw;
    height: 100px;
    padding: 16px;
    border: 1px solid #323232;
    border-radius: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 32px;
}
section{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 32px;
}
.add-btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    border: none;
    background-color: #323232;
    transition: 0.2s;
    color: white;
}
.btn{
    width: 200px;
    height: 80px;
    font-size: 32px;
    border-radius: 24px;
    border: none;
    background-color: #323232;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background-color: green;
}